.Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 370px;
  overflow: auto;
  box-sizing: border-box;
  img {
    width: 200px;
    border-top-left-radius: 15px;
  }

  form {
      align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
}


.AvatarContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        display: inline-flex;
    }
}