.Button {
  border-radius: 15px;
  color: var(--complementary--blue--900);
  cursor: pointer;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  transition: 0.2s;
  padding: 0.25rem 1rem;
}

.Button:hover {
  transition: 0.2s;
}

.text {
  padding: none;
  border: none;
}

.text:hover {
  color: var(--primary--techie-grey--400);
}
.text.disabled {
  color: var(--primary--techie-grey--400);
}

.outlined {
  background-color: transparent;
  border: 2px solid var(--complementary--blue--900);
}

.outlined:hover {
  background-color: var(--complementary--blue--900);
  border: 2px solid var(--complementary--blue--900);
  color: var(--primary--techie-grey--050);
}

.outlined.disabled {
  color: var(--primary--techie-grey--500);
  border-color: var(--primary--techie-grey--500);
  cursor: default;
}

.filled {
  background-color: var(--complementary--blue--900);
  border: 2px solid var(--complementary--blue--900);
  color: var(--primary--techie-grey--050);
}

.filled:hover {
  background-color: transparent;
  border: 2px solid var(--complementary--blue--900);
  color: var(--complementary--blue--900);
}

.filled.disabled {
  background-color: var(--primary--techie-grey--400);
  border: 2px solid var(--primary--techie-grey--400);
  color: var(--primary--techie-grey--050);
  cursor: default;
}
