.Button {
  border-radius: 15px;
  color: var(--complementary--blue--900);
  cursor: pointer;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  transition: 0.5s;
  
  padding: 0.25rem 1rem;
}

.Button:hover {
  transition: 0.5s;
  color: var(--primary--techie-grey--500);
}

.text {
  padding: none;
  border: none;
}

.outlined {
  border: 2px solid var(--complementary--blue--900);
  border-radius: 15px;
}

.outlined:hover {
  border-color: var(--primary--techie-grey--500);
}

.filled {
  background-color: var(--complementary--blue--900);
  border: 2px solid var(--complementary--blue--900);
  color: var(--primary--techie-grey--050);
  }

  .filled:hover{
    color: var(--complementary--blue--300);
    box-shadow: inset 0px 0px 20px -5px var(--tertiary--midnight-blue--900);
  }