.Card {
  background-color: var(--light-grey);
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 0 0 2rem 0;
  color: var(--primary--techie-grey--800);
  height: 200px;
  margin-bottom: 1rem;
  position: relative;
  transition: 0.3s;
  width: 90%;
  word-break: break-word;
}

@media (min-width: 1170px) {
  .Card {
    width: 100%;
  }
}

.Card:hover {
  transition: 0.3s;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.Card:hover .Open {
  bottom: 33px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  height: 250px;
  margin-bottom:25px; 
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  transform: translateY(195px);
  transition: 0.3s;
  width: 120%;
  z-index: 1;
  footer {
    padding: 7px 35px;
  }
}

.Card:hover .Closed {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 180px;
  transition: 0.3s;
  width: 120%;
  z-index: 1;
}

.Card:hover .OpenContent {
  display: block;
}

.Closed {
  align-items: flex-start;
  background-color: var(--light-grey);
  box-sizing: border-box;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 0.5rem;
  transition: 0.3s;
  width: 100%;
  img {
    border-radius: 10px 0 0 0;
    width: 100px;
    height: 100px;
  }
}

.Open {
  background-color: var(--light-grey);
  border-radius: 0 0 2rem 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 92px;
  justify-content: flex-end;
  padding: 0 0.5rem 0.5rem 0.5rem;
  position: absolute;
  transition: 0.3s;
  width: 100%;
  z-index: 0;
  footer {
    display: inline-flex;
    justify-content: space-between;
    padding: 4px 35px;
  }
}

.OpenContent {
  display: none;
  overflow: auto;
  text-align: justify;
  transition: 0.3s;
  height: 100%;
  padding-bottom: 7px;
  a {
    font-size: 0.75rem;
  }
}

.CardTitle {
  max-width: 50%;
}

.AddCard {
  align-items: center;
  background-color: var(--light-grey);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-radius: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}

.Card:hover .AddCard {
  height: 105%;
  width: 105%;
  transition: 0.3s;
}
