.Card {
  background-color: var(--light-grey);
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 0 0 2rem 0;
  color: var(--primary--techie-grey--800);
  cursor: pointer;
  height: 150px;
  margin-bottom: 1rem;
  position: relative;
  transition: 0.5s;
  width: 250px;
  word-break: break-word;
}

.Closed {
  align-items: flex-start;
  background-color: var(--light-grey);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  transition: 0.3s;
  width: 100%;  
  img {
    border-radius: 10px 0 0 0;
    width: 100px;
    height: 100px;
  }
}

.Card:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 0;

}

.Card:hover .Open {
  bottom: 33px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  height: 200px;
  width: 350px;
  padding: 1rem;
  transform: translateY(195px);
  transition: 0.3s;
  z-index: 1;
}

.Card:hover .Closed {  
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  z-index: 1;  
  width: 350px;
}

.Card:hover .OpenContent{
  display: block;
  transition: 0.3s;
}

.Open {
  background-color: var(--light-grey);
  border-radius: 0 0 2rem 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
 
  padding: 0 0.5rem 0.5rem 0.5rem;
  position: absolute;
  transition: 0.3s;
  width: 250px;
}

.OpenContent {
  display: none;
  overflow: auto;
  text-align: justify;
  transition: 0.3s;
}

.CardTitle {
  max-width: 50%;
}

.CardInfo {
}
