:root {    
    --tertiary--midnight-blue--900: #1d212f;
    --primary--techie-grey--050: #fcfcfc;
    --primary--techie-grey--500: #757b8a;
    --primary--techie-grey--800: #353a4b;
    --complementary--blue--800: #1e3fae;
    --tertiary--edgy-green--800: #d8ee17;

    --black: black;
    --tertiary--edgy-green--700: #e1f35e;
    --white: white;
    --primary--techie-grey--900: #1d212f;
    --light-grey: #f4f4f4;
    --secondary--nostalgia-purple--700: #7345fc;
    --secondary--nostalgia-purple--600: #895ffc;
    --tertiary--edgy-green--050: #fafde7;
    --tertiary--edgy-green--100: #f6fbcb;
    --secondary--nostalgia-purple--800: #5d29fa;
    --secondary--nostalgia-purple--400: #a081fd;
    --primary--techie-grey--400: #8f939e;
    --primary--techie-grey--700: #3f465a;
    --secondary--nostalgia-purple--300: #bea9fe;
    --primary--techie-grey--600: #5b6071;
    --primary--techie-grey--200: #d2d3da;
    --secondary--nostalgia-purple--900: #4b19e1;
    --primary--techie-grey--100: #e6e7ea;
    --tertiary--edgy-green--900: #cfe316;
    --primary--techie-grey--300: #aaadb6;
    --secondary--nostalgia-purple--050: #f4f0ff;
    --secondary--nostalgia-purple--100: #e5dcfe;
    --complementary--pink--500: #ec4699;
    --secondary--nostalgia-purple--200: #d5c8fe;
    --secondary--nostalgia-purple--500: #9572fd;
    --tertiary--edgy-green--600: #ecf797;
    --complementary--orange--050: #fff6eb;
    --complementary--orange--100: #ffedd6;
    --complementary--orange--200: #fed6a9;
    --complementary--orange--300: #fdba72;
    --complementary--orange--400: #fb923c;
    --complementary--orange--500: #f97415;
    --complementary--orange--600: #e9590c;
    --complementary--orange--700: #c03f0c;
    --complementary--orange--800: #9b3412;
    --complementary--orange--900: #7d2d12;
    --complementary--green--050: #f2fdf5;
    --complementary--green--100: #defce9;
    --complementary--green--200: #bbf7d0;
    --complementary--green--300: #85efac;
    --complementary--green--400: #4ade80;
    --complementary--green--500: #21c45d;
    --complementary--green--600: #16a249;
    --complementary--green--700: #157f3c;
    --complementary--green--800: #166434;
    --complementary--green--900: #14522d;
    --complementary--red--050: #fef1f1;
    --complementary--red--100: #fee1e1;
    --complementary--red--200: #fec8c8;
    --complementary--red--300: #fca6a6;
    --complementary--red--400: #f87272;
    --complementary--red--500: #ef4343;
    --complementary--red--600: #dc2828;
    --complementary--red--700: #ba1c1c;
    --complementary--red--800: #981b1b;
    --complementary--red--900: #811d1d;
    --complementary--yellow--050: #fefce7;
    --complementary--yellow--100: #fef9c3;
    --complementary--yellow--200: #fef08b;
    --complementary--yellow--300: #fddf49;
    --complementary--yellow--400: #facc14;
    --complementary--yellow--500: #e7b008;
    --complementary--yellow--600: #c88a04;
    --complementary--yellow--700: #a26107;
    --complementary--yellow--800: #864e0e;
    --complementary--yellow--900: #733f12;
    --complementary--blue--050: #f0f6ff;
    --complementary--blue--100: #dcebfe;
    --complementary--blue--200: #bedbfe;
    --complementary--blue--300: #91c3fd;
    --complementary--blue--400: #61a6fa;
    --complementary--blue--500: #3c83f6;
    --complementary--blue--600: #2463eb;
    --complementary--blue--700: #1d4fd7;

    --complementary--blue--900: #1e3b8a;
    --complementary--pink--050: #fdf2f8;
    --complementary--pink--100: #fce8f4;
    --complementary--pink--200: #fbd0e8;
    --complementary--pink--300: #f9a9d5;
    --complementary--pink--400: #f471b5;
    --complementary--pink--600: #db2979;
    --complementary--pink--700: #bf185d;
    --complementary--pink--800: #9b174c;
    --complementary--pink--900: #811842;
}