:root {
  --tertiary--midnight-blue--900: #1d212f;
  --primary--techie-grey--050: #fcfcfc;
  --primary--techie-grey--400: #8f939e;
  --primary--techie-grey--500: #757b8a;
  --primary--techie-grey--800: #353a4b;
  --complementary--blue--300: #91c3fd;
  --complementary--blue--800: #1e3fae;
  --complementary--blue--900: #1e3b8a;
  --tertiary--edgy-green--800: #d8ee17;
  --black: black;
  --white: white;
  --primary--techie-grey--900: #1d212f;
  --light-grey: #f4f4f4;
}
