.Overlay {
  background-color: rgb(0 0 0 / 50%);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.Container {
  position: fixed;
  z-index: 150;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Content {
  background: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  color: var(--primary--techie-grey--800);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  min-width: 450px;
  z-index: 180;

  header {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    padding:10px 20px;
    width: 100%;
    svg {
      cursor: pointer;
      margin-bottom: 10px;
    }
  }

  footer {
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    display: inline-flex;
    padding:10px 20px;
  }
  footer :last-child {
    margin-left: 5px;
  }
}
