.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
}

.Label {
    font-weight: 700;
}

.Input {
    height: 1.5rem;
    border: 1px solid var(--tertiary--midnight-blue--900);
    border-radius: 3px;
    font-size: 14px;
}

.TextArea {
    min-height: 150px;
    width: 90%;
    border: 1px solidvar(--tertiary--midnight-blue--900);
    border-radius: 3px;
    font-size: 14px;
}