.App {
  text-align: center;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100vw;
}

.Head {
  align-content: end;
  border-bottom: 15px solid var(--tertiary--edgy-green--800);
  border-radius: 15px;
  height: 300px;
  margin-bottom: 50px;
  padding: 0px;
  text-align: left;
  h1 {
    margin: 20px;
  }
}

.CardContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: 80%;
}
@media (min-width: 1170px) {
  .CardContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
  .App {
    padding: 10rem 4rem;
  }
}
