.App {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100vw;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .CardContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto auto auto;
  }
}