@import './theme/vars.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  background-color: var(--tertiary--midnight-blue--900);
  color: var(--primary--techie-grey--050);
  font-family: Manrope, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

code {
  font-family: Manrope, sans-serif;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

#root {
  max-width: 100%;
  min-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px 0;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.75rem;
}